@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --primary-green: #8dc04b;
    --yellow: #f5ea5a;

    --black: #2c3029;

    --white: #f9f8f7;

    --secondary-green: #49702c;
    --terciary-green: #c7dda3;

    --body-font: 'Source Sans Pro', sans-serif;
    --header-font: 'Open Sans', sans-serif;
}

/* MOBILE VERSION */

.hide-from-mobile {
    display: none;
}

body {
    margin: 0;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

main {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    z-index: 1;
}

.margin-bottom {
    margin-bottom: 16vw;
}

#hero-image-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#hero-image {
    width: 100vw;
    height: auto;
    top: 0;
    z-index: -1;
}

h2 {
    font-family: var(--header-font);
    text-align: center;
}

h3 {
    font-size: 2vw;
    font-family: var(--body-font);
    font-weight: 100;
    margin: 1vw 0;
}

p {
    text-align: center;
    font-family: var(--body-font);
    font-weight: 300;
    font-size: 4vw;
    line-height: 1.5;
}

.homepage #text-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.columns {
    column-count: 1;
    margin: 0 4vw;
}

#editor {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}

.homepage #quote-container {
    padding: 8vw 0;
    background-color: var(--terciary-green);
}

.homepage #quote {
    font-size: 1.1rem;
    font-weight: 500;
}

ul {
    list-style: none;
}

nav ul li {
    font-family: var(--body-font);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--black);
}

footer {
    background-color: var(--black);
    color: var(--white);
}

#footer-mobile {
    padding: 10vw;
    font-family: var(--body-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
}

#contact-icons-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#contact-icon {
    max-width: 15vw;
    margin-bottom: 1rem;
}

#main-logo-mobile {
    width: 20vw;
}

#mobile-menu-icons {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0;
    z-index: 100;
}

#burger-menu {
    width: 2.4rem;
}

#close-burger-menu {
    width: 2.4rem;
    position: absolute;
    left: 87vw;
}

#nav-mobile {
    position: absolute;
    width: 100vw;
}

#nav-ul-mobile {
    padding: 0;
    margin: 0;
}

#nav-ul-mobile li {
    padding: 1.8rem 0;
    text-align: center;
    font-size: 1.5rem;
}

.community #contact-us {
    background-color: var(--terciary-green);
    padding: 6vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.community #mail-icon {
    width: 18vw;
}


/* DESKTOP DESIGN */
@media only screen and (min-width: 899px) {

    #footer-mobile {
        display: none;
    }

    #header-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vw 2vw;
    }

    #nav-ul-desktop {
        width: 40vw;
        display: flex;
        justify-content: flex-end;
    }

    li {
        padding: 1vw 2vw;
    }

    li:hover {
        background-color: var(--terciary-green);
    }

    #alternate-logo-desktop {
        width: 15vw;
    }

    header nav ul li {
        font-size: 0.8vw;
    }

    #header-mobile {
        display: none;
    }

    .columns {
        column-count: 2;
        column-gap: 6vw;
    }

    h2 {
        font-size: 6rem;
        margin-bottom: 2vw;
    }

    p {
        font-size: 4rem;
        text-align: left;
        margin: 0;
    }

    .homepage #quote {
        font-size: 2vw;
        font-weight: 500;
        text-align: center;
    }

    #footer-desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 6vw 0;
    }

    #ig-icon-footer {
        width: 2.4vw;
        padding: 0 0.8vw 0 0;
    }

    #ig-contact {
        display: flex;
        align-items: center;
    }

    #logo-footer {
        width: 9vw;
    }

    .section-margin {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .margin-bottom {
        margin-bottom: 8vw;
    }

    .hide-from-mobile {
        display: block;
    }

    .yellow-background {
        background-color: var(--yellow);
    }

    .community #contact-us {
        padding-left: 12vw;
        padding-right: 12vw;
        flex-direction: row;
        justify-content: space-around;
    }

    .community #contact-us #quote {
        width: 40vw;
    }

    .community #mail-icon {
        width: 6vw;
    }

    .about #pictures {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about #pictures img {
        width: 30vw;
        position: relative;
    }

    .about #pictures #a {
        left: -10vw;
        z-index: -1;
    }

    .about #pictures a:hover {
        z-index: 100;
    }

    .about #pictures #b {
        top: -10vw;
        left: 6vw;
        z-index: -1;
    }

     .about #pictures #c {
        left: -4vw;
        top: -23vw;
        z-index: -1;
    }
}

/* ALL CLASSES and ANIMATIONS */

/* use this class whenever you need the container to be as wide as its content */
.fit-content {
    width: fit-content;
}

.hide {
    display: none;
}

.green-background {
    background-color: var(--terciary-green);
}

.white-background {
    background-color: var(--white);
}

.slide-down {
    animation: slide-down_KF;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slide-down_KF {

    0% {
        top: -100vw;
    }

    100% {
        top: 20vw;
    }
}

.slide-up {
    animation: slide-up_KF;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slide-up_KF {

    0% {
        top: 20vw;
    }

    100% {
        top: -100vw;
    }
}


/*
.round-img {
    border-radius: 100%;
}
*/
