/*

THE STRUCTURE OF THIS SHEET:

    - Style (fonts and root elements)

    -general style: put here styles that apply both to the mobile and the desktop version

    -All the things for the mobile version ONLY

    -All the things for the DESKTOP version ONLY

    -Classes ( for changing colour background or animations with js)
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --primary-green: #8dc04b;
    --yellow: #f5ea5a;

    --black: #2c3029;

    --white: #f9f8f7;

    --secondary-green: #49702c;
    --terciary-green: #c7dda3;

    --body-font: 'Source Sans Pro', sans-serif;
    --header-font: 'Open Sans', sans-serif;
}

/* GENERAL STYLES put here styles that apply both to the mobile and the desktop version*/

h2 {
    font-family: var(--header-font);
}

p {
    font-family: var(--body-font);
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.5;
}

header {
    background-color: rgba(255, 255, 255, 0.5);
}

ul {
    list-style: none;
}

nav ul li {
    font-family: var(--body-font);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}

/* MOBILE VERSION */

body {
    margin: 0;
    background-color: var(--white);
}

#header-desktop {
    display: none;
}

p {
    margin: 0.4rem 8vw;
    text-align: center;
}

#text-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quote-container {
    padding: 2rem 0;
    margin: 2rem 0;
    background-color: var(--terciary-green);
}

#quote {
    font-size: 1.1rem;
    font-weight: 300;
}

#footer-mobile {
    padding: 10vw;
    background-color: var(--black);
    color: var(--white);
    font-family: var(--body-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
}

#contact-icons-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#contact-icon {
    max-width: 15vw;
    margin-bottom: 1rem;
}

/* DESKTOP DESIGN */
@media only screen and (min-width: 899px) {

    #footer-mobile {
        display: none;
    }

    #header-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vw 2vw;
    }

    #nav-ul-desktop {
        width: 40vw;
        display: flex;
        justify-content: space-around;

    }

    #alternate-logo-desktop {
        width: 10vw;
    }

    header nav ul li {
        font-size: 0.8vw;
    }

    #header-mobile {
        display: none;
    }

}

/* ALL CLASSES */

/* use this class whenever you need the container to be as wide as its content */
.fit-content {
    width: fit-content;
}

/*
.round-img {
    border-radius: 100%;
}
*/
