@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --primary-green: #8dc04b;
    --yellow: #f5ea5a;

    --black: #2c3029;

    --white: #f9f8f7;

    --secondary-green: #49702c;
    --terciary-green: #c7dda3;

    --body-font: 'Source Sans Pro', sans-serif;
    --header-font: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    background-color: var(--white);
}

p {
    margin: 0.4rem;
}

footer {
    padding: 10vw;
    background-color: var(--black);
    color: var(--white);
    font-family: var(--body-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
}

#contact-icons-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#contact-icon {
    max-width: 15vw;
    margin-bottom: 1rem;
}

/* DESKTOP DESIGN */
@media only screen and (min-width: 899px) {

}

